html {
  text-align: center;
  background-color: black;
  color: white;
}
body {
  text-align: center;
  background-color: black;
  color: white;
}

.search {
  top: 320px;
  position: relative;
  margin: auto;
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 50px;
}

.settings {
  right: -600px;
  top: -90px;
  position: relative;
  margin: auto;
  width: 100px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 50px;
  text-align: center;
}

#SEdiv {
  right: -450px;
  top: -167px;
  position: relative;
  margin: auto;
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 50px;
  text-align: center;
}

#settings {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.big {
  font-size: 20px;
  color: black;
}

#bmsdiv {
  right: 0px;
  top: -70px;
  position: relative;
  margin: auto;
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 50px;
}

.top {
  background-color: blue;
  position: absolute;
  top: 30px;
  padding: 10px 690px;
}

.logo {
  height: 200px;
  width: 400px;
  position: absolute;
  top: 100px;
  left: 490px;
  border-radius: 50%;
  border: 3px dotted #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

#tyap {
  position: absolute;
  top: 150px;
  left: 660px;
}
